parsers/markdown/examples/Simple Markdown Template.json
[{"id":"dda1a6d6.fe5f58","type":"markdown","z":"adc578f5.614308","name":"","x":390,"y":80,"wires":[["43620a8a.4c8054"]]},{"id":"16242d94.2f86d2","type":"inject","z":"adc578f5.614308","name":"","topic":"","payload":"**Hello** *world* that was `easy` ! ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["371c8267.9a274e"]]},{"id":"43620a8a.4c8054","type":"ui_template","z":"adc578f5.614308","group":"86b1e7af.9ae1e8","name":"","order":1,"width":"6","height":"10","format":"<div id=\"nr-markdown\" style=\"font-family:helvetica neue,arial,helvetica,sans-serif; margin:12px\" ng-bind-html=\"msg.payload\">';","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":80,"wires":[[]]},{"id":"371c8267.9a274e","type":"template","z":"adc578f5.614308","name":"","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"\n## Heading\n### Sub-sub-heading\n\n**Hello** World ! that was `easy` ! \n*not* sure what the fuss is all about\n\n - we can create lists\n - of various things\n \nOr just text\n\nOr some glyphs (c) (tm) (r) &deg;C\n\n```\nor maybe a code block\n```\n\n### Tables\n\n| Name   | Value |\n| ------ | ----- |\n| cat    | miaow |\n| dog    | woof |\n| cow    | moo |","output":"str","x":240,"y":80,"wires":[["dda1a6d6.fe5f58"]]},{"id":"86b1e7af.9ae1e8","type":"ui_group","z":"","name":"Markdown","tab":"b73dd9da.7d7398","disp":true,"width":"6","collapse":false},{"id":"b73dd9da.7d7398","type":"ui_tab","z":"","name":"Markdown","icon":"dashboard","disabled":false,"hidden":false}]
