functions/selector/flows_sample_selector.json
[{
	"type": "tab",
	"id": "91b4c897.6e4b38",
	"label": "Get Clarin.com links"
}, {
	"id": "e2fb976.f1d0468",
	"type": "selector",
	"name": "Select notes anchors",
	"selector": "h2>a",
	"context": "",
	"root": "",
	"x": 572,
	"y": 142,
	"z": "91b4c897.6e4b38",
	"wires": [
		["f58ed27f.0a713"]
	]
}, {
	"id": "bc2ae109.43d52",
	"type": "http request",
	"name": "Get Clarín.com page links",
	"method": "GET",
	"url": "http://www.clarin.com/",
	"x": 350,
	"y": 251,
	"z": "91b4c897.6e4b38",
	"wires": [
		["e2fb976.f1d0468"]
	]
}, {
	"id": "f58ed27f.0a713",
	"type": "function",
	"name": "Iterate selection & return URLs",
	"func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n// this assign the cheerio selection to $\nvar $ = msg.$;\n\n// msg.selection iteration \nmsg.payload = (function (selection) {\n\tvar urls = [];\n\tselection.each(function(i, elem) {\n  \t\turls[i] = $(this).attr(\"href\");\n\t});\n\treturn urls;\n})(msg.selection);\n\n// modify content-type header\nmsg.headers[\"content-type\"] = \"application/json\";\n\n// delete not useful nodes\nmsg.selection = msg.$ = undefined;\n\nreturn msg;",
	"outputs": 1,
	"x": 784,
	"y": 248,
	"z": "91b4c897.6e4b38",
	"wires": [
		["373d48bb.c8c2b8"]
	]
}, {
	"id": "986ae03d.67952",
	"type": "http in",
	"name": "",
	"url": "/home/links",
	"method": "get",
	"x": 129,
	"y": 150,
	"z": "91b4c897.6e4b38",
	"wires": [
		["bc2ae109.43d52"]
	]
}, {
	"id": "373d48bb.c8c2b8",
	"type": "http response",
	"name": "",
	"x": 981,
	"y": 147,
	"z": "91b4c897.6e4b38",
	"wires": []
}, {
	"id": "aebed9ce.514128",
	"type": "comment",
	"name": "open the URL http://localhost:1880/home/links",
	"info": "",
	"x": 260,
	"y": 81,
	"z": "91b4c897.6e4b38",
	"wires": []
}]