functions/selector/flows_sample_selector.json
[{"type":"tab","id":"91b4c897.6e4b38","label":"Get Clarin.com links"},{"id":"e2fb976.f1d0468","type":"selector","name":"Select notes anchors & output as Array","selector":"h2>a","output":"array","x":640,"y":135,"z":"91b4c897.6e4b38","wires":[["f58ed27f.0a713"]]},{"id":"bc2ae109.43d52","type":"http request","name":"Get Clarín.com page links","method":"GET","url":"http://www.clarin.com","x":350,"y":251,"z":"91b4c897.6e4b38","wires":[["e2fb976.f1d0468","3f3287ee.c0cd78"]]},{"id":"f58ed27f.0a713","type":"function","name":"Iterate selection & return URLs","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar urls = [];\n\nmsg.payload.forEach(function(elem) {\n\turls.push(elem.attribs.href\n\t\t\t\t  .replace(/^\\s|\\s$/,\"\")\n\t\t\t\t  .replace(/^\\//,\"http://www.clarin.com/\")\n\t);\n});\n\nmsg.payload = JSON.stringify(urls);\n\n// modify headers\nmsg.headers[\"content-length\"] = msg.payload.length;\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.statusCode = 200;\n\nreturn msg;","outputs":1,"x":838,"y":308,"z":"91b4c897.6e4b38","wires":[["373d48bb.c8c2b8","e8e2dc6.f171d2"]]},{"id":"986ae03d.67952","type":"http in","name":"","url":"/home/links","method":"get","x":129,"y":150,"z":"91b4c897.6e4b38","wires":[["bc2ae109.43d52"]]},{"id":"373d48bb.c8c2b8","type":"http response","name":"","x":981,"y":147,"z":"91b4c897.6e4b38","wires":[]},{"id":"aebed9ce.514128","type":"comment","name":"open the URL http://localhost:1880/home/links","info":"","x":260,"y":81,"z":"91b4c897.6e4b38","wires":[]},{"id":"7fabe6fc.805418","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":127,"y":341,"z":"91b4c897.6e4b38","wires":[["bc2ae109.43d52"]]},{"id":"e8e2dc6.f171d2","type":"debug","name":"","active":true,"complete":"false","x":1047,"y":439,"z":"91b4c897.6e4b38","wires":[]},{"id":"c206a882.3df958","type":"file","name":"","filename":"test.json","appendNewline":false,"overwriteFile":true,"x":919,"y":538,"z":"91b4c897.6e4b38","wires":[]},{"id":"3f3287ee.c0cd78","type":"selector","name":"Select notes anchors & output as JSON","selector":"h2>a","output":"json","x":542,"y":401,"z":"91b4c897.6e4b38","wires":[["c206a882.3df958"]]}]